###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> oauth2 ###
/config/oauth2/
###< oauth2 ###

###> symfony/web-server-bundle ###
/bin/.web-server-pid
###< symfony/web-server-bundle ###
